@import url(https://fonts.googleapis.com/css?family=Questrial);

@import 'media.css';
@import 'theme.css';
@import 'app.css';
@import 'navigation.css';

* {
  box-sizing: border-box;
}

body{
  margin: 0px 0px 0px 0px;
  background-color: var(--lightColor);
  font-family: 'Questrial', sans-serif;
}
